@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Common styles
 */
html {
  @apply text-gray-800;
}

.monospace {
 font-family: 'Roboto Mono', monospace;
}

@keyframes mapConnections {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100;
  }
}